.loading {
  opacity: 0;
}
.cardContainer {
  margin: 1rem 0;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  width: 95vw;
  max-width: 800px;
  height: 215px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.cardContainerActive {
  margin: 1rem 0;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  width: 95vw;
  max-width: 1000px;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
  height: fit-content;
  width: 100%;
  padding: 1rem;
}
.foodImg {
  top: 0px;
  position: relative;
  display: inline-block;
  max-height: 130px;
  max-width: 130px;
  z-index: 1;
  border-radius: 5px;
  margin-right: 1rem;
}
.textArea section {
  display: flex;
}
.quickInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 420px;
  height: 68%;
}
.quickInfo div {
  margin-right: 1rem;
}
.quickInfo div h2 {
  font-size: 14px;
  font-weight: 500;
}
.quickInfo div span {
  font-weight: 300;
  font-size: 14px;
}
.textArea h1 {
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 1rem;
}
.showML {
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  color: #7b7b7b;
  width: 100%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease;
}
.showML:hover {
  color: #616161;
  background-color: rgb(255, 250, 250);
}
/* a link tags */
.recipeLink {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
  font-size: 18px;
}
.recipeLink:hover {
  color: #5777ea;
}
