.loading {
  opacity: 1;
}
.cardContainer {
  margin: 1rem 0 0 0;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  width: 95vw;
  max-width: 800px;
  height: 215px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.cardContainerActive {
  margin: 1rem 0 0 0;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  width: 95vw;
  max-width: 1000px;
  height: 75vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
  height: fit-content;
  width: 100%;
  padding: 1rem;
}
.foodImg {
  top: 0px;
  position: relative;
  display: inline-block;
  max-height: 130px;
  max-width: 130px;
  z-index: 1;
  border-radius: 5px;
  margin-right: 1rem;
  transition: all 1s ease;
}
.noImg {
  height: 130px;
  width: 130px;
  margin-right: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(219, 219, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(175, 175, 175);
}
.textArea {
  min-width: calc(100% - calc(130px + 1rem));
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleSection {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.titleSection h1 {
  font-weight: 100;
  font-size: 18px;
}
.titleSection span {
  font-size: 12px;
  text-align: right;
}
/* a link tags */
.recipeLink {
  text-decoration: none;
  color: rgb(145, 180, 255);
  transition: color 0.2s ease;
  font-size: 12px;
}
.recipeLink:hover {
  color: #5777ea;
}
.quickInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: calc(100% - calc(130px + 1rem));
  height: fit-content;
  line-height: 2rem;
}
.quickInfo div {
  margin-right: 1rem;
}
.quickInfo div h2 {
  font-size: 14px;
  font-weight: 500;
}
.quickInfo div span {
  font-weight: 300;
  font-size: 14px;
}
.showML {
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  color: #7b7b7b;
  width: 100%;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease;
}
.showML:hover {
  color: #616161;
  background-color: rgb(255, 250, 250);
}
@media (min-width: 1100px) {
  .cardContainer {
    margin: 0.5rem 0 0 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    width: 95vw;
    max-width: 800px;
    height: 215px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
  }
}
@media (max-width: 800px) {
  .foodImg {
    max-height: 80px;
    max-width: 80px;
  }
  .noImg {
    max-height: 80px;
    max-width: 80px;
  }
  .textArea {
    min-width: calc(100% - calc(80px + 1rem));
  }
  .showML {
    font-size: 12px;
  }
  .titleSection h1 {
    font-weight: 100;
    font-size: 16px;
  }
  .quickInfo div h2 {
    font-size: 12px;
    font-weight: 500;
  }
  .quickInfo div span {
    font-weight: 300;
    font-size: 12px;
  }
}
