.about_container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: right;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 1s forwards;
}
.text_container {
  z-index: 1;
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: column;
  margin: auto 0;
  margin-right: 15vw;
  padding: 2rem;
  font-size: 18px;
  width: 500px;
  max-width: 700px;
  height: fit-content;
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.text_container h1 {
  font-family: 'Rosarivo', serif;
  font-weight: 100;
  font-size: 48px;
}
.text_container p {
  font-size: 18px;
}
@media (max-width: 900px) {
  .about_container {
    justify-content: center;
    align-items: center;
  }
  .text_container {
    margin: auto;
    height: fit-content;
    width: 90%;
    max-width: 600px;
    justify-content: center;
    transition: all 0.5s ease;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    padding: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
