.form {
  margin-top: 60px;
  font-family: 'Poppins', sans-serif;
}
.search {
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 30px;
  margin-top: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(121, 121, 121, 0.25);
}
.search:focus {
  box-shadow: inset 0 2px 4px 0 rgba(121, 121, 121, 0.25);
  outline: none;
}
.search::placeholder {
  font-size: 14px;
  color: rgb(190, 190, 190);
}
.submit_btn {
  border: none;
  color: transparent;
  background-color: transparent;
}
