.home_container {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 1.5s ease;
}
.textContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-right: 15vw;
  letter-spacing: 4px;
  font-size: 24px;
  transition: all 0.5s ease;
}
.textContainer form {
  animation: fadeUp 1.5s ease;
}
.textContainer h2 {
  font-size: 24px;
  font-weight: 400;
  padding: 2rem 0 1rem 0;
}
.textContainer h2 span {
  color: #5777ea;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  animation: moveShadowIn 1.5s ease;
}
/* Search Bar */
.searchBar {
  font-family: 'Poppins', sans-serif;
  border: none;
  width: 275px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  box-shadow: none;
  transition: all 0.2s ease;
}
.searchBar:focus {
  box-shadow: 0 4px 4px 0 rgba(121, 121, 121, 0.2);
  outline: none;
}
.searchBar::placeholder {
  font-size: 14px;
  color: rgb(190, 190, 190);
  animation: pulsePlaceholder 2s infinite ease-in-out;
}
.submitBtn {
  border: none;
  color: transparent;
  background-color: transparent;
}
@media (min-width: 1500px) {
  .textContainer {
    margin-right: 25vw;
  }
}
@media (max-width: 1100px) {
  .home_container {
    justify-content: center;
  }
  .textContainer {
    margin-top: 60px;
    margin-right: 0;
    height: fit-content;
    width: 90%;
    max-width: 600px;
    justify-content: center;
    transition: all 0.5s ease;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    padding: 2rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  .textContainer form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .searchBar {
    width: 70%;
    max-width: 300px;
    border-radius: 0;
    border-bottom: 1px solid #5777ea;
    background-color: transparent;
    padding: 0 1rem;
    text-align: left;
  }
  .searchBar::placeholder {
    text-align: left;
  }
  .submitBtn {
    margin-left: 1rem;
    background-color: #5777ea;
    border: none;
    color: #ffffff;
    padding: 0.5rem 0.5rem;
    border-radius: 35px;
    height: 35px;
    width: 35px;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .submitBtn:hover {
    background-color: #3860ee;
  }
  .submitBtn:active {
    background-color: #5777ea;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveShadowIn {
  0% {
    text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.2);
  }
  100% {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}
@keyframes pulsePlaceholder {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
