.header {
  background-color: #c8d3c9;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header h1 {
  font-family: 'Rosarivo', serif;
  font-size: 24px;
  letter-spacing: 4px;
  cursor: pointer;
}
.header h1 span {
  color: #5777ea;
}
.header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: fit-content;
  color: #4a4a4a;
  font-size: 14px;
}
.header ul li {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.header ul li:hover {
  background-color: #5777ea;
  color: #f1f1f1;
}
